body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.fa-circle-user {
    font-size: 2rem;
    color: rgb(8, 8, 68);
}

.fa-right-from-bracket {
    font-size: 1.5rem;
    color: rgb(8, 8, 68);
}

.fa-plus {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.listing-create {
    margin-right: 1rem;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New and edit button*/
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.add-btn:hover {
    background-color: #e23743 !important;
}

/* show page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.review-card {
    padding: 1rem;
}

/* signup */

.signup {
    text-decoration: none;
    color: rgb(12, 79, 92);
    margin-top: 1rem;
}

.login {
    text-decoration: none;
    color: rgb(12, 79, 92);
    margin-right: 0.5rem;
}

.logout {
    text-decoration: none;
    color: rgb(12, 79, 92);
}

/* MAP */

#map {
    height: 300px;
    width: 600px;
    border-radius: 10px;
}

/* filter */
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-decoration: none;
    color: rgb(62, 60, 60);
    text-align: center;
    opacity: 0.7;
    margin-top: 2rem;
    margin-right: 3.5rem;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.taxs-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

/* search btn */
.search-bar {
    position: relative;
    height: 2.1rem;
    width: 25rem;
    max-width: 100%;
}

#search {
    background: #ffffff;
    border: 1px solid rgb(211, 204, 204);
    height: 100%;
    width: 100%;
    padding: 20px 50px;
    border-radius: 25px;
    font-size: 15px;
    color: #656161;
    outline: none;
    transition: background 0.3s, box-shadow 0.3s;
}

.search-bar i {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 15px;
    top: 50%;
    transform: translateY(-25%);
    opacity: 0.5;
}

.search-bar input:hover {
    background: #3d3c3c;
}

.search-bar input:focus {
    background: #eba6a6;
    box-shadow: 0 0 5px #e89797;
}

.search-bar input::placeholder {
    color: #000000;
}